

<%# <form action="new" method="GET" accept-charset="UTF-8">

    <label for="username"> Username</label>
    <input type="text" name="username">
    <br>

    <label for="email">Email</label>
    <input type="text" name="email">
    <br>

    <label for="password">Password</label>
    <input type="password" name="password">
    <br>

    <label for="password_confirmation" name="password_confirmation">Password confirmation</label>
    <input type="password" name="password_confimation">
    <br>

    <input type="submit" value="create">
    <br>

    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>
    <%# </form> %> 

<%=form_for @user do |f|%>
<div>
<%= f.label :username%>
<%= f.text_field :username%>
</div>
<div>
<%= f.label :email%>
<%= f.email_field :email%>
</div>
<div>
<%= f.label :password%>
<%= f.password_field :password %>
</div>

<div>
<%= f.label :password_confirmation%>
<%= f.password_field :password_confirmation%>
</div>

<div>
<%= f.submit %>
</div>
<%end%>